@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    margin: auto;
    font-family: 'Noto Sans',sans-serif;
}
body{
    background-color: #121725;
}

.top{
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.3);
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #333333;
    margin-bottom: 50px;
}
.top span {
    display: inline-block;
}

.slogo{
    display: inline-block;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: -0.1rem;
    position: relative;
    color: #eB565B;
    right: -256px;
    top: 4px;
}

.title{
    text-align: center;
    height: 150px;
}

.personal_detail{
    color: #fff;
    padding: 2px;
    font-size: 24px;
    display: inline-block;
    position: absolute;
    right: 271px;
    top: 12px;
}
a{
    text-decoration: none;
}
.personal_detail a{
    text-decoration: none;
}
.personal_detail img{
    border-radius: 2px;
    position: relative;
    top: 2px;
    margin-right: 8px;
}

.content{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.gun{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 324px;
    height: 285px;
    border-radius: 5px;
    background-color: red;
    margin: 10px;
}

.types{
    background-color: gray;
    width:1000px;
    height: 2000px;
}

.gun:hover{
    scale: 1.02;
    background-color: purple;
}

.cbar{
    margin-bottom: 10px;
    padding: 0;
    background-color: green;
    width: 1195px;
    height: 50px;
    border-radius: 5px;
}

.gun img{
    width: 90%;
    position: absolute;
    top: 100px;
}

.mainGun{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 324px;
    height: 360px;
    border-radius: 5px;
    background-color: red;
    margin: 10px;
}

.mainGun img{
    width: 100%;
    position: absolute;
    top: 120px;
}

.mainGun .name{
    background-color: yellow;
    height: 80px;
    width: 350px;
    position: absolute;
    top:310px;
    right: -10px;
    border-radius: 5px;
}

.gun .name{
    background-color: yellow;
    height: 80px;
    width: 350px;
    position: absolute;
    top:230px;
    right: -10px;
    border-radius: 5px;
}